body{
	font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	background-color: #eee;
	width: 650px;
	max-width: 95%;
	margin: 10px auto;
	border: 1px solid rgb(215,215,230);
	border-radius: 5px; padding: 3px;
}
label{
	display: inline-block;
	width: 200px;
	max-width: 85%;
}
h1{
	text-align:center;
}
li{
	background-color: rgb(220,220,240);
	border-radius: 3px;
	margin-top: 6px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.link{
	display: inline-block;
	width: auto;
	word-wrap: break-word;
}
.unlink{
	display: inline-block;
	text-align: right;
	width: 50px;
}
span .infobulle{
	font-size: 0.7em;
	opacity: 0;
	position: absolute;
	margin-left: -150px;
	text-shadow: 0 0 0;
	color: #DCDCDC;
	background: rgba(102,104,102,.9);
	padding: 3px;
	border-radius: 10px;
	transform: scale(0) rotate(5deg);
	transition: all .15s;
}
span:hover .infobulle, span:focus .infobulle{
	opacity: 1;
	transform: scale(1) rotate(0);
}
.infotext{
	display: inline-block;
	width: 20px;
	text-align: center;
	background-color: #eee;
	box-shadow: 0 0 2px 2px rgb(220,220,240) inset;
}